---
layout: default
title: "Talks"
description: "Presentations by members of the lab"
group: navigation
navorder: 4
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">Talks</div>
<div class="smallspacer"></div>
<hr/>

{% assign years = "" | split: "" %}
{% for product in site.categories.talks %}
  {% assign years = years | push: product.year %}
{% endfor %}
{% assign years = years | uniq %}

{% for year in years %}
	<div class="title text-center">{{ year }}</div>
	<div class="bigspacer"></div>
	{% assign year_products = "" | split: "" %}
	{% for product in site.categories.talks %}
		{% if product.year == year %}
		  {% assign year_products = year_products | push: product %}
		{% endif %}
	{% endfor %}

	<table align="center"; width=1250px>
		{% tablerow product in year_products cols:2 %}
			{% if product.image %}
				{% assign image = product.image %}
			{% else %}
				{% assign image = "/assets/images/placeholder.png" %}
			{% endif %}

			<div class="col-md-2.5 paperbox" style="min-width: 575px">
				<div class="media" style="width:525px; height:150px">
	        <div class="media">
	            <a class="pull-left" href="{{ product.url }}">
	            <img width=150 height=113 class="media-object" src="{{ image }}" style="border:1px solid #021a40;">
	            </a>
	            <div class="media-body">
	                <div class="smallhead media-heading">
	                    <a href="{{ product.url }}" class="off">{{ product.title }}</a>
	                </div>
                  <p>
                    <div class="note">
                      <!-- This took a while, but it links the name of each author from the lab
              				to their page and keeps collaborators' names as strings -->
              				{% assign split_authors = product.authors | split: ", " %}
              				{% for author in split_authors %}
              				    {% assign author_in_lab = "false" %}
              				    {% for member in site.categories.team %}
              					      {% if author == member.science_name %}
                  								{% assign author_in_lab = true %}
              						        <a class="off" href="{{ member.url }}">{{ member.science_name }}</a>,
              						    {% endif %}
              				    {% endfor %}
                          {% for collab in site.data.collaborators %}
                              {% if author == collab.science_name %}
                                  {% assign author_in_lab = true %}
                                  <a class="off" href="{{ collab.url }}">{{ collab.science_name }}</a>,
                              {% endif %}
                          {% endfor %}
              					  {% if author_in_lab != true %}
              					      {{ author }},
              					  {% endif %}
              				{% endfor %}
                      <span class="journal">
                        {{ product.conference }}
                      </span>
                      ({{ product.year }}).
                    </div>
                  </p>
	            </div>
	        </div>
				</div>
			</div>
			<div class="smallspacer"></div>
		{% endtablerow %}
	</table>

	<div class="bigspacer"></div>

	{% if year != years[-1] %}
		<hr/>
	{% endif %}
{% endfor %}
